Babel
CherryPy
docutils
Flask
freezegun
Jinja2
MarkupSafe
mido
nose
paramiko
Pillow<7  # srcomp-cli needs <7
Pygments
python-dateutil
PyYAML<=4
reportlab<3.5  # srcomp-cli needs <3.5
requests
ruamel.yaml<0.16
simplejson
six
Sphinx

pip-tools
