Babel
CherryPy
docutils
Flask
freezegun
Jinja2
MarkupSafe
mido
nose
paramiko
Pygments
python-dateutil
PyYAML<=7
reportlab<3.7  # srcomp-cli needs <3.7
requests
ruamel.yaml<1.0
simplejson
six
Sphinx

pip-tools
