Babel
CherryPy
docutils
Flask
freezegun
Jinja2
MarkupSafe
mido
nose
paramiko
Pygments
python-dateutil
PyYAML<=4
reportlab<3.6  # srcomp-cli needs <3.6
requests
ruamel.yaml<0.16
simplejson
six
Sphinx

pip-tools
